@model BlogPost
@*
    
*@
@{
    ViewData["Title"] = Model.PageTitle;
}
<link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            @if (Model is not null)
            {
                <h1 class="mb-3">
                    @Model.Heading
                </h1>
                <div class="d-flex justify-content-between">
                    <span class="text-secondary">@Model.Author</span>
                    <span class="text-secondary">@Model.PublishedDate.ToShortDateString()</span>
                </div>
                <img src="@Model.FeaturedImageUrl" class="d-block img-fluid mb-3"/>

                <div class="mb-3 blog-details">
                    @Html.Raw(Model.Content)
                </div>
            }
            else
            {
                <h2>Blog Post not found</h2>
            }
        </div>
    </div>
</div>